[submodule "agg-kicad"]
	path = agg-kicad
	url = https://github.com/adamgreig/agg-kicad.git
[submodule "ChibiOS"]
	path = shared/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "shared/gen-board.h"]
	path = shared/gen-board.h
	url = https://github.com/cuspaceflight/gen-board.h.git
[submodule "m3debug/blackmagic"]
	path = m3debug/blackmagic
	url = git@github.com:cuspaceflight/blackmagic.git
